<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.BookList.detail.mapper.ReviewMapper">
    <insert id="ReviewInsert" parameterType="com.project.BookList.detail.mapper.ReviewMapper" keyProperty="R_NO">
        INSERT INTO review(M_NO,R_CONTS,R_BOOKKEY)
        VALUES (#{M_NO},#{R_CONTS},#{R_BOOKKEY})
    </insert>

    <select id="reviewSelect" resultType="com.project.BookList.detail.VO.ReviewVO" >
        SELECT R_NO, MEMBERS.M_NO, R_CONTS, R_DATE, R_BOOKKEY, M_NICKNAME
        FROM REVIEW JOIN MEMBERS ON REVIEW.M_NO = MEMBERS.M_NO
        WHERE R_BOOKKEY = #{bookKey}
    </select>

    <update id="reviewUpdate">
        UPDATE REVIEW
        SET R_CONTS = #{R_CONTS}
        WHERE R_NO = #{R_NO}
    </update>

    <delete id="reviewDelete">
        DELETE FROM REVIEW
        WHERE R_NO = #{R_NO}
    </delete>

    <select id="reviewChkSelect" resultType="int">
        SELECT IFNULL(MAX(M_NO),0)
        FROM REVIEW
        WHERE M_NO=#{M_NO} AND R_BOOKKEY = #{isbn}
    </select>
</mapper>